@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: #F8F7F3;
    font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.active .page-link {
  background-color: #088269;
  border-color: #088269;
  color: white;
}

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-opacity-50 {
  opacity: 0.5;
}

.z-50 {
  z-index: 50;
}

.bg-white {
  background-color: #fff;
}

.p-8 {
  padding: 2rem;
}

.rounded {
  border-radius: 0.25rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.max-w-md {
  max-width: 28rem;
}

.w-full {
  width: 100%;
}

.mb-4 {
  margin-bottom: 1rem;
}

.block {
  display: block;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.border {
  border: 1px solid #e5e7eb;
}

.text-red-500 {
  color: #f56565;
}

.mr-4 {
  margin-right: 1rem;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.text-white {
  color: #fff;
}

.text-xl {
  font-size: 1.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-100 {
  margin-bottom: 100px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
